.chat__cont-mobile {
  display: none;
}

.chat__cont {
  border-left: 1px solid #dedede;
  background-color: #ffffff;
  max-width: 340px;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-height: 100vh;
  transition: all 0.1s ease-in-out;
}
.chat__cont .chat__header {
  z-index: 100;
  border: 1px solid #dedede;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.chat__cont .chat__header h1 {
  font-size: 1.2rem;
  font-weight: 600;
  color: #000000;
  margin: 0;
}
.chat__cont .messages__cont {
  flex: 1;
  overflow-y: auto;
  padding: 5px 10px;
  display: flex;
  flex-direction: column;
  overflow: scroll;
  margin: 0;
}
.chat__cont .messages__cont .message {
  display: flex;
  gap: 5px;
  color: #000000;
  padding: 2px;
  cursor: pointer;
  border-radius: 6px;
  align-items: center;
}
.chat__cont .messages__cont .message p {
  margin: 0;
  display: inline;
}
.chat__cont .messages__cont .message p span {
  font-size: 1.1rem;
  font-weight: 600;
}
.chat__cont .messages__cont .message:hover {
  background-color: #f1f1f1;
}
.chat__cont .form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}
.chat__cont .form .input-tx {
  width: 90%;
  height: 40px;
  border: 2px solid #dedede;
  border-radius: 6px;
  padding: 0 10px;
  outline: none;
  font-size: 1rem;
  color: #000000;
  background-color: white;
  transition: all 0.1s ease-in-out;
}
.chat__cont .form .input-tx:hover {
  border: 2px solid #b1b1b1;
}
.chat__cont .form .input-tx:focus {
  border: 2px solid #858585;
  outline: 1px solid #858585;
}
.chat__cont .form .button_container {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 5px;
}
.chat__cont .form .button_container button {
  width: 96%;
  height: 40px;
  border: none;
  border-radius: 6px;
  background-color: #000000;
  color: #ffffff;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}

@media screen and (max-width: 1200px) {
  .chat__cont {
    width: 100%;
    max-width: 280px;
  }
}
* {
  box-sizing: border-box;
}

@media screen and (max-width: 1000px) {
  .chat__cont {
    display: none;
  }
  .chat__cont-mobile {
    display: flex;
    flex-direction: column;
    position: absolute;
    height: 100vh;
    background-color: #ffffff;
    z-index: 2000;
    bottom: -100vh;
    width: 100%;
    transition: 0.2s;
    box-sizing: border-box;
  }
  .chat__cont-mobile .chat__header {
    z-index: 100;
    border: 1px solid #dedede;
    padding: 15px 20px;
    padding-top: 30px;
    height: 120px;
    display: flex;
    justify-content: space-around;
    box-sizing: border-box;
  }
  .chat__cont-mobile .chat__header h1 {
    font-size: 1.2rem;
    font-weight: 600;
    color: #000000;
  }
  .chat__cont-mobile .chat__header p {
    color: #000000;
  }
  .chat__cont-mobile .messages__cont {
    flex: 1;
    overflow-y: auto;
    padding: 5px 10px;
    display: flex;
    flex-direction: column;
    overflow: scroll;
    box-sizing: border-box;
  }
  .chat__cont-mobile .messages__cont .message {
    display: flex;
    gap: 5px;
    color: #000000;
    padding: 2px;
    cursor: pointer;
    border-radius: 6px;
    box-sizing: border-box;
  }
  .chat__cont-mobile .messages__cont .message p {
    margin: 0;
  }
  .chat__cont-mobile .messages__cont .message:hover {
    background-color: #f1f1f1;
  }
  .chat__cont-mobile .form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    padding-bottom: 60px;
  }
  .chat__cont-mobile .form .input-tx {
    width: 96%;
    height: 40px;
    border: 2px solid #dedede;
    border-radius: 6px;
    padding: 0 10px;
    outline: none;
    font-size: 1rem;
    color: #000000;
    background-color: white;
    transition: all 0.1s ease-in-out;
  }
  .chat__cont-mobile .form .input-tx:hover {
    border: 2px solid #b1b1b1;
  }
  .chat__cont-mobile .form .input-tx:focus {
    border: 2px solid #858585;
    outline: 1px solid #858585;
  }
  .chat__cont-mobile .form .button_container {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding: 5px;
  }
  .chat__cont-mobile .form .button_container button {
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 6px;
    background-color: #000000;
    color: #ffffff;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
  }
}
body {
  overflow: hidden;
}/*# sourceMappingURL=Chat.css.map */