@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700&display=swap');


.infoContainerMobile {
    display: none;
    cursor: pointer;
    aspect-ratio: 1/1;

    img {
        border-radius: 7px;
        filter: brightness(0.8);
    }
}

.infoContainer {
    display: flex;
    width: 100%;
    flex-direction: column;
    cursor: pointer;
    border-radius: 6px;
    border: 1px solid rgba(0, 0, 0, 0.65);
    padding-top: 15px;

  
    .titlesCont {
        display: flex;
        padding-left: 15px;
        gap: 20px;
        

        img {
            width: 70px;
            height:70px;
            border-radius: 5px;
        }

        ;

        .text {
            display: flex;
            flex-direction: column;
            justify-content: center;
            font-weight: 600;
            font-family: 'Poppins', sans-serif;

            p{
                margin: 0;
            }

            .title {
                font-size: .8rem;
            }

            .author {
                font-size: .7rem;
                color: #9e9e9e;
            }

            .roomTitle {
                font-size: .9rem;
                font-weight: 700;
                margin-bottom: 7px;
                margin-top: 7px;
                margin: 0;
                margin-bottom: 7px;
            }
        
        }

    }

    .progressCont {
        width: 100%;
        height: 5px;
        background-color: #e0e0e0;
        margin-bottom: .5rem;
        margin-top: .5rem;
        position: relative;

        .progressBar {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            max-width: 100%;
        }
    }
}

@keyframes progress {
    0% {
        width: 0%;
    }

    100% {
        width: 100%;
    }


}


.custom-toast {

    .progress-bar {
        width: 100%;
        height: 5px;
        background-color: #e0e0e0;
        margin-bottom: .5rem;
        margin-top: .5rem;
        position: relative;

        .progress {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            max-width: 100%;
            animation: progress 6.2s linear;
            background-color: #40C057;
        }
    }


    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    cursor: grab;
    background-color: #000000;
    padding: 10px 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding-bottom: 20px;


    .info-cont {
        width: 100%;

        .playlist {
            font-size: 15px;
            color: #000000;
            display: inline-block;
            font-weight: 400;
            font-family: 'Poppins', sans-serif;
            padding-bottom: 2px;
            margin: 0;
        }

        .song-details {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 5px;
            flex: 1;
            width: 100%;

            img {
                width: 70px;
                height: 70px;
                border-radius: 5px;
            }

            .text {
                display: flex;
                flex-direction: column;
                justify-content: center;
                font-weight: 600;
                font-family: 'Poppins', sans-serif;


                .song-title {
                    font-size: .8rem;
                    color: #000000;
                    display: inline-block;
                    margin: 0;
                }

                .song-author {
                    margin: 0;
                    font-size: .7rem;
                    color: #000000;
                    display: inline-block;

                }
            }

            .buttons {
                display: flex;
                gap: 5px;
                flex-direction: row-reverse;


                .toast-button:hover,
                .toast-button-no:hover {
                    border: 1px solid #fff;
                    outline: none;

                }



                .toast-button {
                    height: 40px;
                    width: 40px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 5px;
                    cursor: pointer;
                    border-radius: 50%;
                    background-color: #40C057;
                    position: relative;

                    svg {
                        position: absolute;
                        fill: #000000;
                        stroke: 5px;
                    }
                }

                .toast-button-no {
                    height: 40px;
                    width: 40px;
                    border-radius: 50%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 5px;
                    background-color: rgb(208, 28, 28);
                    cursor: pointer;

                    svg {
                        position: absolute;
                        fill: #fff;
                    }
                }


            }
        }





    }



}

@media screen and (max-width: 1000px) {

    .infoContainerMobile {
        display: block;

        div{
            width: 100%;
            height: 100%;
            border-radius: 9px;

            img{
                width: 100%;
                height: 100%;
                border-radius: 7px;
                filter: brightness(0.8);
            }
        }
    }

    .infoContainer {
        display: none;
    }   

}